@charset "utf-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://i.postimg.cc/pXw0zJR6/GS-banner.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    margin: auto;
}

header ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}

header ul li{
    display: inline-block;
}

header ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease
}

header ul li a:hover{
    background-color: #ffffff;
    color: #1a1a1a;
}

header ul li.active a{
    background-color: #ffffff;
    color: #1a1a1a;
}

.logo img{
    width: 150px;
    height: 150px;
}

.logo h1{
    color: #ffffff;
    font-size: 16px;
}

main h1{
    color: #ffffff;
    font-size: 30px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main ul li{
    display: block;
}

main ul li.discord a{
    border: 1px solid #1f1f1f;
    padding: 30px 110px;
    color: #ffffff;
    background-color: #1f1f1f;
    text-decoration: none;
    transition: 0.6s ease;
}

main ul li.discord a:hover{
    background-color: #ffffff;
    color: #1f1f1f;
}

main ul li.discord a{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main ul li.facebook a{
    border: 1px solid #1f42f0;
    padding: 30px 99px;
    color: #ffffff;
    background-color: #1f42f0;
    text-decoration: none;
    transition: 0.6s ease;
}

main ul li.facebook a:hover{
    background-color: #ffffff;
    color: #1f42f0;
}

main ul li.facebook a{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main ul li.youtube a{
    border: 1px solid #ff0516;
    padding: 30px 101px;
    color: #ffffff;
    background-color: #ff0516;
    text-decoration: none;
    transition: 0.6s ease;
}

main ul li.youtube a:hover{
    background-color: #ffffff;
    color: #ff0516;
}

main ul li.youtube a{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}

main ul li.twetter a{
    border: 1px solid #3178eb;
    padding: 30px 113px;
    color: #ffffff;
    background-color: #3178eb;
    text-decoration: none;
    transition: 0.6s ease;
}

main ul li.twetter a:hover{
    background-color: #ffffff;
    color: #3178eb;
}

main ul li.twetter a{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}